__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.vscode
.hypothesis
figs/old/*
figs/*
savedsession/*
slask
slask/*
slask/*/*

*.asv
*.m~
**/.DS_Store
*.pyc

aspcol.egg-info

.gitignore.bak
*.bak

docs/source/_autosummary
docs/source/_autosummary/*
docs/build/*

examples/figs/*
examples/figs

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg