__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.vscode
.hypothesis
figs/old/*
figs/*
savedsession/*
slask
slask/*
slask/*/*

*.asv
*.m~
**/.DS_Store
*.pyc
multi_experiments/*
multi_experiments/*/*
multi_experiments/*/*/*

ancsim_PVJesper.egg-info